@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  height: 100%;
}

.StripeElement ~ button {
  height: 35px;
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(25,118,210) ;
  color: white;
}

iframe .ElementsApp input {
  height: 100px !important;
  background-color: black !important;
}

#order-list > ul {
  overflow: hidden !important;
}